@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div>
        <label for="course-select">Kurskod</label>

        <select name="course" id="course-select">
            <option value=""> Välj en kurs </option>
            <option value="test1">Test</option>
            <option value="test2">Test2</option>
        </select>


        <label for="modul-select">Kurskod</label>

        <select name="modul" id="modul-select">
            <option value=""> Välj modul </option>
            <option value="modul1">Modul_1</option>
            <option value="modul2">Modul_2</option>
        </select>

    </div>


    <table>
        <colgroup span="4"></colgroup>
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Betyg</th>
            <th>Övrig</th>
        </tr>
        <tr>
            <td>1337</td>
            <td>ANs historia</td>
            <td>VG</td>
            <td>woke</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>



</body>

