@using Assignment3.Models;
@using Assignment3.Controllers;

@{
    ViewData["Title"] = "Home Page";
}
<body>
    <!--Välj kurs och modul-->
    <div id="chooseCourse">

        <label for="courseSelect">Kurskod</label>
        <select id="courseSelect" name="course">
            <option value="crs">Välj kurs</option>

            @{ var courses = Course.MadeUpCourses;
                @foreach (var c in courses)
                {
                    <option> @c.CourseCode </option>
                }
            }

        </select>

        <select id="moduleSelect" name="modul">
            <option>-------</option>
        </select>

        <!--Hämta studenter-knapp-->
        <button class="buttonGetStudents" id="getStudentsBtn" type="button" onclick="getStudents()">Hämta studenter</button>

    </div>
    <!--Tabell-->
    <table class="table table-striped">
        <tr class="bg-info">
            <th></th>
            <th>StudentID</th>
            <th>Namn</th>
            <th>Betyg Canvas</th>
            <th>Examinationsdatum</th>
            <th>Betyg i Ladok</th>
        </tr>
        <tbody id="myTable">
        </tbody>
    </table>
    <!--Registrera-knapp-->
    <button class="buttonRegister" type="button" onclick="setStudents()">Registrera resultat</button>

</body>

