@using Assignment3.Models;
@using Assignment3.Controllers;

@{
    ViewData["Title"] = "Home Page";
}


<body>
    <!--Välj kurs och modul, vet ej hur det ska läsas in-->
    <div id="chooseCourse">

        <label for="courseSelect">Kurskod</label>
        <select id="courseSelect" name="course" onchange="site.js">
            <option value="crs" disabled>Välj kurs</option>

            @{ var courses = Course.MadeUpCourses;
                @foreach (var c in courses)
                {
                    <option> @c.CourseCode </option>
                }
            }

        </select>

        <select id="moduleSelect" name="modul">
            <option>-------</option>

        </select>
        <button class="buttonGetStudents" id="getStudentsBtn" type="button" onclick="readInStudents()">Hämta studenter</button>

    </div>


    <!--Tabell med rubriker och rader-->
    <table id="maintable">

        <tr>
            <th></th>
            <th>Namn</th>
            <th>Omdöme i Canvas</th>
            <th>Examinationsdatum</th>
            <th>Betyg i Ladok</th>
            <th>Status</th>
            <th>Information</th>
        </tr>

        <tr>
            <td> <input type="checkbox" id="selectStud" name="selectStud"> </td>

            <td> 
                <input type="text" id="studentName" name="studentName" form="displayResults" disabled />  
            </td>

            <td>
                <input type="text" id="gradeCanvas" name="gradeCanvas" form="displayResults" disabled />
            </td>

            <td> <input type="date" id="examineDate" name="examineDate" min="2020-11-16" max="2040-12-31"> </td>

            <td>
                <select id="gradeLadok" name="gradeLadok" form="registerResults">
                    <option value="failed">U</option>
                    <option value="approvedGroup">G#</option>
                    <option value="approved">G</option>
                    <option value="wellApproved">VG</option>
                </select>
            </td>

            <td> <input type="text" form="registerResults" /></td>

            <td> <input type="text" form="registerResults" /></td>
        </tr>
        <tbody></tbody>
    </table>

  

    <button class="buttonRegister" type="button" > Registrera resultat</button>

</body>

