@using Assignment3.Models;
@using Assignment3.Controllers;

@{
    ViewData["Title"] = "Home Page";
}


<body>
    <!--Välj kurs och modul, vet ej hur det ska läsas in-->
    <div id="chooseCourse">

        <label for="courseSelect">Kurskod</label>
        <select id="courseSelect" name="course" onchange="site.js">
            <option value="crs" disabled>Välj kurs</option>

            @{ var courses = Course.MadeUpCourses;
                @foreach (var c in courses)
                {
                    <option> @c.CourseCode </option>
                }
            }

        </select>

        <select id="moduleSelect" name="modul">
            <option>-------</option>

        </select>
        <button class="buttonGetStudents" id="getStudentsBtn" type="button" onclick="readInStudents()">Hämta studenter</button>

    </div>


    <table class="table table-striped">
        <tr class="bg-info">
            <th>Namn</th>
            <th>Betyg Canvas</th>
            <th>Examinationsdatum</th>
            <th>Betyg i Ladok</th>
            <th>Status</th>
            <th>Information</th>
        </tr>

        <tbody id="myTable">
        </tbody>
    </table>


    <button class="buttonRegister" type="button" onclick="readInStudents2()"> Registrera resultat</button>

</body>

