@{
  //  ViewData["Title"] = "Registrera resultat";
}


<h2>Registrera Resultat</h2>

<form>
    <p>Ideal:<input name="Ideal" type="text" class="input-group" /></p>
    <p>Kurskod:<input name="Kurskod" type="text" class="input-group" /></p>
    <p>Termin:<input name="Termin" type="text" class="input-group" /></p>
    <p>Provnummer:<input name="Provnummer" type="text" class="input-group" /></p>
    <p>Betyg:<input name="Betyg" type="text" class="input-group" /></p>
    <br />
    <button asp-area="" asp-controller="Home" asp-action="RegisterResultButtonClick">Registrera resultat </button>
</form>

